* {
    box-sizing: border-box;
}
:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/*============== Common ==============*/
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}
.break-all {
    word-break: break-all;
}
a {
    text-decoration: none;
}
.heading {
    color: #171100;
    font-family: var(--font-heading);

    font-weight: 700;

    letter-spacing: -1.16px;
}
.btn {
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
    min-width: 118px;
    padding: 0 16px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.85;
}
.heading.lv2 {
    font-size: 3.8rem;

    line-height: 126.316%;
    letter-spacing: -0.76px;
}

/*============== Header ==============*/
.header.fixed {
    position: sticky;
    top: -28px;
    background: #fffcf4;
    z-index: 1;
}
.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    color: #5f5b53;
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
}
.nav a:hover,
.nav li.active a {
    color: #171100;
    text-align: center;
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
}
.nav li.active a::after {
    content: " ";
    display: block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.header .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
}
.hero {
    padding-top: 52px;
    background: #fffcf4;
    padding-bottom: 65px;
}
.hero .body {
    display: flex;
}
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero-sumary {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
}
.hero-sumary .item {
    display: flex;
    align-items: center;
}
.hero-sumary .item + .item {
    margin-top: 22px;
}
.hero-sumary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
}
.hero-sumary .item:nth-of-type(2) .icon {
    background: #fcefff;
}
.hero-sumary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}
.hero-sumary .info {
    margin-left: 16px;
}
.hero-sumary .info .label {
    color: #5f5b53;

    font-size: 1.4rem;

    font-weight: 400;
    line-height: 185.714%;
}
.hero-sumary .info .title {
    color: #171100;

    font-size: 1.8rem;

    font-weight: 600;
    line-height: 166.667%;
}
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .heading.lv1 {
    font-size: 5.8rem;

    line-height: 117.241%;
}

.hero .content-block .desc {
    color: #5f5b53;
    margin-top: 22px;

    font-size: 1.8rem;

    font-weight: 400;
    line-height: 166.667%;
}
.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}
.hero-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}
.content-block .watch-video {
    border: none;
    display: flex;
    align-items: center;
    margin-left: 28px;
    background-color: #fffcf4;
    cursor: pointer;
}
.content-block .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
}
.content-block .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 166.667%;
}
.hero .content-block .stats {
    margin: 8px 0 0 -28px;
}
.content-block .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;

    font-weight: 700;
    line-height: 122.727%;
    padding: 0 8px 0 28px;
}
/*============== Popular ==============*/
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular .popular-top {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    color: #5f5b53;
    margin-top: 16px;
    font-size: 1.8rem;
    width: 458px;
    font-weight: 400;
    line-height: 166.667%;
}
.popular-top .control {
    display: flex;
    gap: 18px;
}
.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
}
.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}
.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}
.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
    width: calc(100% + 2px);

    margin: -1px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.popular .course-item .info {
    margin: 16px 22px 22px;
}
.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .course-item .info .title a {
    color: #171100;
    padding-right: 6px;
    font-size: 1.8rem;

    font-weight: 600;
    line-height: 166.667%;
}
.popular .rating .value {
    color: #fea31b;

    font-size: 1.6rem;

    font-weight: 400;
    line-height: 175%;
}
.popular .course-item .info .desc {
    color: #5f5b53;
    margin-top: 6px;
    font-size: 1.4rem;

    font-weight: 400;
    line-height: 185.714%;
}
.popular .course-item .info .foot {
    margin-top: 12px;
}
.popular .course-item .price {
    color: #171100;

    font-size: 1.8rem;

    font-weight: 600;
    line-height: 166.667%;
}
.popular .course-item .book-btn {
    border: none;
}
.popular .course-item .book-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}
/*============== Feedback ==============*/
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}
.feedback .feedback-item {
    display: flex;
}
.feedback-item .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 72px;
}
.feedback-item .info .title {
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    margin-top: 18px;
    line-height: 141.667%;
    font-weight: 700;
}
.feedback-item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;

    font-size: 1.4rem;

    font-weight: 400;
    line-height: 185.714%;
}
.feedback-item .info .dots {
    margin-top: 28px;
    display: flex;
}
.feedback-item .info .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}
.feedback-item .info .dot.active {
    background: #ffb900;
}
.feedback-item .content {
    width: 66%;
    margin-left: auto;
}
.feedback-item .content blockquote {
    color: #fff;

    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 153.846%;
}
/*============== Features-1 ==============*/
.features {
    padding: 65px 0;
    margin-top: 135px;
}
.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features .images {
    display: flex;
    gap: 0 30px;
}
.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.features img.lower {
    margin-top: 34px;
}
.features .content {
    width: 41%;
}
.features .desc {
    color: #5f5b53;
    margin-top: 16px;
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 175%;
}
.features a.btn {
    margin-top: 32px;
    background-color: var(--primary-color);
    min-width: 137px;
}
/*============== Features-2 ==============*/
.features-2 {
    margin-top: 70px;
}
.features-2 .images img {
    width: 470px;
    height: 440px;
}
.features-2 .content {
    width: 49%;
}
/*============== Blog ==============*/
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}
.blog .blog-top {
    text-align: center;
}
.blog-top .desc {
    color: #696262;
    width: 448px;
    margin: 16px auto auto;
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 175%;
}
.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.blog .blog-item {
    width: 33.33%;
    border-radius: 16px;
    background: #fff;
}
.blog .blog-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog .blog-item .img-blog {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog-item .info {
    padding: 20px 20px 28px 20px;
}
.blog-item .info .date {
    color: #5f5b53;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    position: relative;
    font-weight: 400;
    line-height: 185.714%;
    padding-bottom: 12px;
}
.blog-item .info .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.blog-item .info .date::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: -27px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-item .info .title a {
    color: #171100;
    display: inline-block;
    margin-top: 12px;
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 175%;
}
.blog-item .btn {
    margin-top: 12px;
    font-size: 1.4rem;
}
.blog-item .btn:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}
.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 38px;
}
.blog .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
    cursor: pointer;
}
.blog .dot.active {
    background: var(--primary-color);
}
/*============== Footer==============*/
.footer {
    padding: 96px 135px 0;
    background-color: #2e2100;
}
.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}
.footer .row .column:first-child {
    width: 35%;
}
.footer .row .column {
    width: 21.6%;
}
.footer .desc {
    margin-top: 18px;
    color: #bfbcb2;
    max-width: 267px;
    font-size: 1.4rem;

    font-weight: 400;
    line-height: 185.714%;
}
.footer .social {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}
.footer .column .title {
    color: #fff;
    padding: 0 48px 14px 0;
    font-family: Poppins;
    font-size: 1.6rem;
    border-bottom: 1px solid #59554b;
    display: inline-block;
    font-weight: 600;
    line-height: 175%;
}
.footer .column .list {
    margin-top: 28px;
}
.footer .column .list a {
    color: #bfbcb2;
    margin-bottom: 12px;
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 400;
    line-height: 185.714%;
}
.footer .column .list li:last-child a {
    margin-bottom: 0;
}
.footer .list strong {
    font-weight: 600;
    color: #ffffff;
}
.footer .copyright {
    padding: 28px 0;
    color: #807d74;
    text-align: center;

    font-size: 1.4rem;

    font-weight: 400;
    line-height: 185.714%;
}
